<style>
    body {
        background-image: url('images/cinema.jpg');
        background-repeat: no repeat;
        background-size: cover;
        
    }
</style>
<div >
<h1>Cinema Ironhack</h1>
<form action="/movies">
<button type="submit">Check the movies!</button>
</form>
</div>